body {
  margin: 0;
}

img {
  width: 100%;
  height: auto;
}

.controls {
  text-align: right;
  padding: 0 25px;
}

.login-page {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  .login-card {
    background-color: #fff;
    width: 80vw;
    max-width: 900px;
    height: 60vh;
    border-radius: 15px;
    box-shadow: 0px 5px 30px -15px rgba($color: #000000, $alpha: .4);
    display: flex;
    align-items: center;
    @media (max-width: 768px) {
      height: 80vh;
      flex-flow: column;
    }
    .login-img-wrapper, .login-form-wrapper {
      padding: 50px;
      width: 50%;
      @media (max-width: 768px) {
        width: 100%;
      }
    }
  }
}

.nf-page {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-flow: column;
  .nf-wrapper{
    .nf-img-wrapper {
      padding: 50px;
      img {
        height: 70vh;
        @media (orientation: portrait) {
          height: auto;
          width: 80vw;
        }
      }
    }
    .nf-form-wrapper {
      padding: 20px;
      width: 100%;
      text-align: center;
    }
  }
}

.main-content {
  padding: 20px;
}

.main-header {
  display: flex;
  align-items: center;
  min-height: 70px;
  padding: 0 20px;
}

.main-menu {
  height: 100vh;
  position: fixed;
  width: 100%;
  ul {
    padding-top: 90px;
  }
}

.car-carrousel {
  height: 450px;
  > div {
    display: flex;
    align-items: center;
    height: 450px;
  }
}

.ant-list-item-meta {
  margin: 10px 0;
}

.img-avatar {
  height: 150px;
  width: 250px;
  background-size: cover;
  background-position: center;
  &.grid {
    height: calc(100vw / 10);
    width: 100%;
    @media (max-width: 768px) {
      height: calc(100vw / 4);
      flex-flow: column;
    }
  }
}

