body {
  margin: 0;
}

.main-content {
  padding: 20px;
}

.main-header {
  display: flex;
  align-items: center;
  min-height: 70px;
  padding: 0 20px;
}

.main-menu {
  min-height: calc(100vh - 70px);
}